//颜色定义规范
$color-cyd = #02C2A2
$color-fff = #fff
$color-000 = #000
$color-5d = #5D5D5D
$color-2e = #2E2E30
$color-bd = #BDBDBD
$color-39 = #393939
$color-34 = #343434
$color-9b = #9B9B9B
$color-f5 = #F5F5F5 //globalHead boxshow
$color-f9 = #F9F9F9 //页面背景色
$color-text = #fff// 白色以及透明程度不同的白色
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
//字体定义规范
$font-size-small = 12px
$font-size-16 = 16px
$font-size-14 = 14px
$font-size-18 = 18px
